{% extends "posts/post_base.html"%}

{% block post_content %}

    <form method="post" style="margin-left: 30%;margin-top: 2cm;">
        {% csrf_token %}
        <br>
        <h5>Are you sure you want to delete "{{ object }}"?</h5><br>
        <div style="margin-left: 33%;">
        <input class="btn btn-md btn-danger" type="submit" value="Confirm">
        <a class="btn btn-md btn-light" href="{% url 'posts:all' %}" style="background-color: #f7a2c9;">Cancel</a>
        </div>
    </form>
    
{% endblock %}